@model TiendaVirtualMVC.Models.Producto

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div class="container">
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre del Producto
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreProducto)
        </dd>

        <dt>
            Descripción
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            Imagen
        </dt>




        <dd>
            <img src="@Url.Content(Model.Imagen)" width="250" height="250" />
        </dd>

        <dt>
            Detalles
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalles)
        </dd>
    </dl>

    <p>
        @Html.ActionLink("Edit", "Editar", new { id = Model.ProductoID }) |
        @Html.ActionLink("Regresar", "Index")
    </p>
</div>