

@model TiendaVirtualMVC.Models.Producto

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

   <i class="fa fa-arrow-left">@Html.ActionLink("Regresar", "Index")</i>
    <!-- Shop Detail Start -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col-lg-5 pb-5">
                <div id="product-carousel" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner border">
                        <div class="carousel-item active">
                            <img class="w-100 h-100" src="@Url.Content(Model.Imagen)" alt="Producto" />
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-7 pb-5">
                <h3 class="font-weight-semi-bold">
                    @Html.DisplayFor(model => model.NombreProducto)
                </h3>
                

                <h3 class="font-weight-semi-bold mb-4">
              $@Html.DisplayFor(model => model.Precio)
                </h3>
                <p class="mb-4">
                    @Html.DisplayFor(model => model.Descripcion)
                </p>
                <div class="d-flex mb-3">
                    <p class="text-dark font-weight-medium mb-0 mr-3">Proveedor:</p>
                    <form>
                         @TiendaVirtualMVC.Controllers.ProductoController.NombreProveedor(Model.codigo_proveedor)
                    </form>
                </div>

                <div class="d-flex align-items-center mb-4 pt-2">
                    <div class="input-group quantity mr-3" style="width: 175px;">
                        <div class="input-group-btn">
                            <button class="btn btn-primary btn-minus" >
                              <i class="fa fa-shopping-basket"></i> Stock
                            </button>
                        </div>
                        
                        <input type="text" class="form-control bg-secondary text-center" value="@Html.DisplayFor(model => model.stock)" disabled/>


                    </div>
                </div>
                
                <div class="d-flex pt-2">
                    <p class="text-dark font-weight-medium mb-0 mr-2">Compartir en <p>
                    <div class="d-inline-flex">
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a class="text-dark px-2" href="">
                            <i class="fab fa-pinterest"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row px-xl-5">
            <div class="col">
                <div class="nav nav-tabs justify-content-center border-secondary mb-4">
                    <a class="nav-item nav-link active" data-toggle="tab" href="#tab-pane-1">Descripción</a>
                    <a class="nav-item nav-link" data-toggle="tab" href="#tab-pane-2">Información </a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <h4 class="mb-3">Product Description</h4>
                             @Html.DisplayFor(model => model.Descripcion)
                    </div>

                    <div class="tab-pane fade" id="tab-pane-2">
                        <h4 class="mb-3">Informacion Adicional </h4>

                        <div class="row">
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item px-0">
                                        En Stock : @Html.DisplayFor(model => model.stock)
                                    </li>
                                  </ul> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Shop Detail End -->

@section Scripts {
    <script>
        let value = @Model.stock
        console.log(value)
        if (value < 1) {
            alert("Sin Stock")
        }
    </script>
}
