@model IEnumerable<TiendaVirtualMVC.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}



<script type="text/javascript">
    function AddToCart(item) {
        var itemId = $(item).attr("itemid");
        var formData = new FormData();
        formData.append("ItemId", itemId);
        $.ajax({
            async: true,
            type: 'POST',
            contentType: false,
            processData: false,
            data: formData,
            url: '/Shopping/Index',
            success: function (data) {
                if (data.Success) {
                    $("#cartItem").text("Cart(" + data.Counter + ")");
                }
            },
            error: function () {
                alert("There is some problem.");
            }
        });
    }
</script>



<h2>Producto</h2>

<div class="container">
    <p>
        @Html.ActionLink("Ingrese un nuevo Producto", "Agregar")
    </p>
    <table class="table">
        <tr>
            <th>
                Nombre del Producto
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio
            </th>
            <th>
                Imagen
            </th>
            <th>
                Detalles
            </th>
            <th>
                Proveedor
            </th>
            <th>
                Stock
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreProducto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>



                <td>
                <div class="polaroid">
                    <img src="@Url.Content(item.Imagen)" alt="Producto" height="200" />
                </div>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Detalles)
                </td>
                <td>
                    @TiendaVirtualMVC.Controllers.ProductoController.NombreProveedor(item.codigo_proveedor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.stock)
                </td>
                <td>
                    <div id="container">
                        <div class="grid-container">
                            <div class="grid-item">
                                @Html.ActionLink("Editar", "Editar", new { id = item.ProductoID }, new { @class = "btn btn-primary fa-solid fa-pen-to-square" })
                            </div>
                            <br />
                            <div class="grid-item">
                                @Html.ActionLink("Detalles", "Detalles", new { id = item.ProductoID }, new { @class = "btn btn-secondary" })
                            </div>
                            <br />
                            <div class="grid-item">
                                @Html.ActionLink("Eliminar", "Eliminar", new { id = item.ProductoID }, new { @class = "btn btn-danger aEliminar" })
                            </div>
                            <br />
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</div>

@section scripts
{
    <script>
        $(".aEliminar").click(function (event) {
            if (!confirm('Estas seguro de eliminar?')) {
                event.preventDefault();
            }
        });
    </script>
}