<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    
  <link href="@Url.Content("~/Content/lumen/bootstrap.css")"
    rel="stylesheet" type="text/css" />
  @RenderSection("heads", required: false)

</head>

<body>
    @Html.Partial("_Navbar");
    @RenderBody()
    @Html.Partial("_Footer")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>