@model IEnumerable<TiendaVirtualMVC.Models.PedidosItem>

@{
    ViewBag.Title = "Pedidos - Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Carrito</h2>

@{
    if (User.IsInRole("Cliente"))
    {
        if (Session["PedidoId"] == null)
        {
            @Html.ActionLink("Realiza un Pedido", "Agregar", "Pedido")

        }
        else
        {
            <p>
                @Html.ActionLink("Agregar Productos", "Agregar")
            </p>
        }

            <table class="table">
                <tr>
                    @*<th>
                @Html.DisplayNameFor(model => model.PedidoItemID)
            </th>*@
                    <th>
                        Pedido
                    </th>
                    <th>
                        Producto
                    </th>
                    <th>
                        Imagen
                    </th>
                    <th>
                        Precio Unitario
                    </th>
                    <th>
                        Cantidad
                    </th>
                    <th></th>
                </tr>
                @{ 
                    decimal total = 0;
                }
                

                @foreach (var item in Model)
                {

                    <tr>

                        <td>
                            @TiendaVirtualMVC.Controllers.PedidoController.NombreCliente(TiendaVirtualMVC.Controllers.PedidosItemController.NombreRazonSocial(item.PedidoID))
                            @*@Html.DisplayFor(modelItem => item.PedidoID)*@
                        </td>
                        <td>
                            @TiendaVirtualMVC.Controllers.PedidosItemController.NombreProducto(item.ProductoID)
                            @*@Html.DisplayFor(modelItem => item.ProductoID)*@
                        </td>
                        <td>
                            @*@TiendaVirtualMVC.Controllers.PedidosItemController.NombreProducto(item.ProductoID)*@
                            <img src="@Url.Content(@TiendaVirtualMVC.Controllers.PedidosItemController.ImagenProducto(item.ProductoID))" alt="Producto" width="250" />
                        </td>
                        <td>
                            @TiendaVirtualMVC.Controllers.PedidosItemController.PrecioProducto(item.ProductoID)
                            @{
                                decimal valor0 = TiendaVirtualMVC.Controllers.PedidosItemController.PrecioProducto(item.ProductoID);
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cantidad)
                            @{
                                int valor1 = item.Cantidad;
                            }
                        </td>
                        @{
                            total = total + (valor0 * valor1);
                        }
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.PedidoItemID }) |
                            @Html.ActionLink("Detalles", "Detalles", new { id = item.PedidoItemID }) |
                            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.PedidoItemID }, new { @class = "aEliminar" })
                        </td>
                    </tr>
                }

            </table>


        if (Session["PedidoId"] == null)
        {

        }
        else
        {
            <div>
                
                    @{
                        double iva = (double)total * 0.12;
                        double valPagar = (double)total + iva;
                    }
                

                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Total de Pedido</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">@total $ </h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">IVA</h6>
                            <h6 class="font-weight-medium">@iva $ </h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold">@valPagar $</h5>
                        </div>


                            <div class="grid-item">
                                @Html.ActionLink("Comprar", "DetalleTotal", "PedidosItem", new { @class = "btn btn-primary" })

                                @Html.ActionLink("Cancelar", "Cancelar", "PedidosItem", new { @class = "btn btn-danger" })
                            </div>
                    </div>

                </div>


            </div>

        }


    }
    else
    {
        <div class="card text-center">
            <div class="card-header">
                Información
            </div>
            <div class="card-body">
                <h5 class="card-title text-danger">No tienes Permisos para acceder</h5>
                <p class="card-text">Contacte con Soporte TI o el Administrador</p>
            </div>
            <div class="card-footer text-muted">
                Tienda Virtual MVC
            </div>
        </div>
    }
}



@section scripts
{
    <script>
        $(".aEliminar").click(function (event) {
            if (!confirm('Estas seguro de eliminar?')) {
                event.preventDefault();
            }
        });

        $("#PedidoID").val("@Session["PedidoID"]");

        $(document).ready(function () {
            $('#ProductoID').on('change', function () {
                var demovalue = $(this).val();
                console.log(demovalue);
                $("div.myDiv").hide();
                $("#" + demovalue).show();
            });
        });
    </script>
}

